In [2]:
import pandas as pd

df=pd.read_csv('loan_approved.csv')
df.head(5)

,Unnamed: 0.1,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,3,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,4,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

Loan_ID -- nominal -- not in a order

Gender	-- nominal -- no order

Married	-- nominal -- no order

Dependents	-- ordinal -- distinct numeric values

Education	-- nominal -- no order

Self_Employed	-- nominal -- no order

ApplicantIncome	-- continuous -- large range of values 

CoapplicantIncome	-- continuous -- large range of values

LoanAmount	-- continuous -- large range of values

Loan_Amount_Term	-- discrete -- multiples of 12

Credit_History	-- discrete

Property_Area	-- ordinal -- in order

Loan_Status (Approved) -- nominal -- no order

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0.1            614 non-null    int64
 1   Unnamed: 0              614 non-null    int64
 2   Loan_ID                 614 non-null    object
 3   Gender                  614 non-null    object
 4   Married                 614 non-null    object
 5   Dependents              614 non-null    object
 6   Education               614 non-null    object
 7   Self_Employed           614 non-null    object
 8   ApplicantIncome         614 non-null    int64
 9   CoapplicantIncome       614 non-null    float64
 10  LoanAmount              614 non-null    float64
 11  Loan_Amount_Term        614 non-null    float64
 12  Credit_History          614 non-null    float64
 13  Property_Area           614 non-null    object
 14  Loan_Status (Approved)  614 non-null    object
dtypes: float64(4), int64(3), object(8)
memory usage: 72.1+ KB

In [4]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [5]:
df['Married']=df['Married'].fillna(df['Married'].mode()[0])
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [6]:
df['Dependents']=df['Dependents'].fillna(df['Dependents'].mode()[0])
df['Dependents'].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [7]:
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [8]:
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].median())
df['LoanAmount'].unique()

array([128.,  66., 120., 141., 267.,  95., 158., 168., 349.,  70., 109.,
       200., 114.,  17., 125., 100.,  76., 133., 115., 104., 315., 116.,
       112., 151., 191., 122., 110.,  35., 201.,  74., 106., 320., 144.,
       184.,  80.,  47.,  75., 134.,  96.,  88.,  44., 286.,  97., 135.,
       180.,  99., 165., 258., 126., 312., 136., 172.,  81., 187., 113.,
       176., 130., 111., 167., 265.,  50., 210., 175., 131., 188.,  25.,
       137., 160., 225., 216.,  94., 139., 152., 118., 185., 154.,  85.,
       259., 194.,  93., 370., 182., 650., 102., 290.,  84., 242., 129.,
        30., 244., 600., 255.,  98., 275., 121.,  63., 700.,  87., 101.,
       495.,  67.,  73., 260., 108.,  58.,  48., 164., 170.,  83.,  90.,
       166., 124.,  55.,  59., 127., 214., 240.,  72.,  60., 138.,  42.,
       280., 140., 155., 123., 279., 192., 304., 330., 150., 207., 436.,
        78.,  54.,  89., 143., 105., 132., 480.,  56., 159., 300., 376.,
       117.,  71., 490., 173.,  46., 228., 308., 236., 570., 380., 296.,
       156., 103.,  45.,  65.,  53., 360.,  62., 218., 178., 239., 405.,
       148., 190., 149., 153., 162., 230.,  86., 234., 246., 500., 186.,
       119., 107., 209., 208., 243.,  40., 250., 311., 400., 161., 196.,
       324., 157., 145., 181.,  26., 211.,   9., 205.,  36.,  61., 146.,
       292., 142., 350., 496., 253.])

In [9]:
df['Loan_Amount_Term']=df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median())
df['Loan_Amount_Term'].unique()

array([360., 120., 240., 180.,  60., 300., 480.,  36.,  84.,  12.])

In [10]:
df['Credit_History']=df['Credit_History'].fillna(df['Credit_History'].median())
df['Credit_History'].unique()

array([1., 0.])

In [11]:
df.to_csv('loan_approved.csv')