In [1]:
import pandas as pd

df=pd.read_csv('loan_approved.csv')
df.head(5)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,0,0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,1,1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,2,2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,3,3,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,4,4,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [2]:
mean=df['ApplicantIncome'].mean()
print('Mean = ',mean)
std=df['ApplicantIncome'].std()
print('Standard Deviation = ',std)

Mean =  5403.459283387622
Standard Deviation =  6109.041673387174

In [3]:
df['ApplicantIncome'].head(5)

0    5849
1    4583
2    3000
3    2583
4    6000
Name: ApplicantIncome, dtype: int64

In [4]:
z1=(5849-mean)/std
print('z1 = ',z1)

z2=(4583-mean)/std
print('z2 = ',z2)

z3=(3000-mean)/std
print('z3 = ',z3)

z4=(2583-mean)/std
print('z4 = ',z4)

z5=(6000-mean)/std
print('z5 = ',z5)

z1 =  0.07293135984867927
z2 =  -0.13430245319192863
z3 =  -0.3934265653904138
z4 =  -0.4616860440933629
z5 =  0.09764882096173755

In [5]:
max=df['ApplicantIncome'].max()
print('Max = ',max)
min=df['ApplicantIncome'].min()
print('Min = ',min)
range=max-min
print('Range = ',range)

Max =  81000
Min =  150
Range =  80850

In [6]:
df['ApplicantIncome'].value_counts()

ApplicantIncome
2500     9
4583     6
6000     6
2600     6
3750     5
        ..
7660     1
5955     1
3365     1
2799     1
12841    1
Name: count, Length: 505, dtype: int64

In [7]:
sk1=df['ApplicantIncome'].skew()
print('Skew = ',sk1)
ku1=df['ApplicantIncome'].kurtosis()
print('Kurtosis = ',ku1)
# highly skewed and leptokurtic --> not acceptable

Skew =  6.539513113994625
Kurtosis =  60.54067593369113

In [8]:
sk2 = df['CoapplicantIncome'].skew()
print(sk2)
ku2 = df['CoapplicantIncome'].kurtosis()
print(ku2)
# highly skewed and leptokurtic --> not acceptable

7.491531216657306
84.95638421103374

In [9]:
sk3 = df['LoanAmount'].skew()
print(sk3)
ku3 = df['LoanAmount'].kurtosis()
print(ku3)
# highly skewed and leptokurtic --> not acceptable

2.743052748820892
10.936694906900337

In [10]:
sk4 = df['Loan_Amount_Term'].skew()
print(sk4)
ku4 = df['Loan_Amount_Term'].kurtosis()
print(ku4)
# highly skewed and leptokurtic --> not acceptable

-2.4021122563890396
6.924993328965206

In [11]:
df['Property_Area'].isna().sum()

np.int64(0)

In [12]:
#one-hot encoding
df1=pd.get_dummies(df['Property_Area'],dtype=int,prefix='PA',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Property_Area'],axis=1)

In [13]:
df1=pd.get_dummies(df['Gender'],dtype=int,prefix='G',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Gender'],axis=1)

In [14]:
df1=pd.get_dummies(df['Married'],dtype=int,prefix='M',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Married'],axis=1)

In [15]:
df1=pd.get_dummies(df['Education'],dtype=int,prefix='E',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Education'],axis=1)

In [16]:
df1=pd.get_dummies(df['Self_Employed'],dtype=int,prefix='SE',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Self_Employed'],axis=1)

In [17]:
df1=pd.get_dummies(df['Loan_Status (Approved)'],dtype=int,prefix='LS',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Loan_Status (Approved)'],axis=1)

In [18]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,PA_Semiurban,PA_Urban,G_Male,M_Yes,E_Not Graduate,SE_Yes,LS_Y
0,0,0,0,LP001002,0,5849,0.0,128.0,360.0,1.0,0,1,1,0,0,0,1
1,1,1,1,LP001003,1,4583,1508.0,128.0,360.0,1.0,0,0,1,1,0,0,0
2,2,2,2,LP001005,0,3000,0.0,66.0,360.0,1.0,0,1,1,1,0,1,1
3,3,3,3,LP001006,0,2583,2358.0,120.0,360.0,1.0,0,1,1,1,1,0,1
4,4,4,4,LP001008,0,6000,0.0,141.0,360.0,1.0,0,1,1,0,0,0,1

In [19]:
df.shape

(614, 17)